* {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

.col1 {
    position: absolute;
    border: 1px solid blue;
    top: 0;
    left: 0;
    width: 300px;
    height: 800px;
    margin-left: 100px;
    text-align: center;
}

.col2 {
    position: absolute;
    border: 1px solid blue;
    top: 0;
    left: 350px;
    width: 300px;
    height: 800px;
    margin-left: 100px;
    text-align: center;
}

.col3 {
    position: absolute;
    border: 1px solid blue;
    top: 0;
    left: 700px;
    width: 300px;
    height: 800px;
    margin-left: 100px;
    text-align: center;
}

.col4 {
    position: absolute;
    border: 1px solid blue;
    top: 0;
    left: 1050px;
    width: 300px;
    height: 800px;
    margin-left: 100px;
    text-align: center;
}