.navbar {
    width: 210px;
    margin: 20px auto;

    & ul li {
        display: block;
        height: 40px;
        width: 200px;
        margin-bottom: 3px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        & a {
            color: #fff;
            padding-left: 15%;
            display: block;
            height: 100%;
            font-size: 24px;
            line-height: 42px;
            text-decoration: none;
            position: absolute;
            z-index:1;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            z-index: 0;
            @include transition;
        }

        &:hover:before {
            width: 10px;
            left: -10px;
        }

        &:hover:after {
            width: 100%;
        }
    } 
}