* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
}
#body {
    margin: 20px;
    margin-bottom: 40px;
    padding: 20px;
}
h1 {
    color: rgb(146, 17, 231);
  }
#tittle-2 {
    text-transform: uppercase
}
li {
    list-style-type: none;
    background-color: greenyellow;
    font-size: 110%;
}
#logo img{   
    width: 10%;
    height: 10%;
    border-radius: 400px;
}
div p{
    font-size: 110%;
    color: black;
    margin-left: 5%;
    letter-spacing: 10px;
    line-height: 1px;
}
#footer {
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    font-size: 120%;
    margin-left: 15%;
    text-transform: capitalize
    
}