nav {
    background: rgb(93,91,129);
    background: linear-gradient(309deg, rgba(93,91,129,0.29735644257703087) 0%, rgba(29,123,196,0.8071603641456583) 28%, rgba(164,166,153,0.5970763305322129) 74%);
    top: 0;
    width: 100%;
    position: fixed;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 5px;
    color: rgb(16, 18, 15);
}

nav ul li a:hover {
    background-color: rgba(81, 104, 105, 0.176);
    zoom: 150%;
}
/* the fun part copy everything above and input appropriate for specific screen size */
/* Extra Small Devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    nav {
        background: rgb(93,91,129);
        background: linear-gradient(309deg, rgba(93,91,129,0.29735644257703087) 0%, rgba(29,123,196,0.8071603641456583) 28%, rgba(176, 207, 2, 0.597) 74%);
        top: 0;
        width: 100%;
        position: fixed;
    }
    
    nav ul {
        margin: 0;
        padding: 10;
        list-style: none;
        text-align: center;
        float: none;
    }
    
    nav ul li {
        display: block;
        font-size: 12px;
    }
    
    nav ul li a {
        display: block;
        padding: 5px;
        color: rgb(16, 18, 15);
    }
    
    nav ul li a:hover {
        background-color: rgba(81, 104, 105, 0.176);
        zoom: 150%;
    }
  }
/* Small Devices */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    nav {
        background: rgb(93,91,129);
        background: linear-gradient(309deg, rgba(93,91,129,0.29735644257703087) 0%, rgba(29,123,196,0.8071603641456583) 28%, rgba(20, 193, 109, 0.597) 74%);
        top: 0;
        width: 100%;
        position: fixed;
    }
    
    nav ul {
        margin: 0;
        padding: 10;
        list-style: none;
        text-align: center;
        float: none;
    }
    
    nav ul li {
        display: block;
        font-size: 15px;
    }
    
    nav ul li a {
        display: block;
        padding: 5px;
        color: rgb(16, 18, 15);
    }
    
    nav ul li a:hover {
        background-color: rgba(81, 104, 105, 0.176);
        zoom: 150%;
    }
  }

/* Medium Devices */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    nav {
        background: rgb(93,91,129);
        background: linear-gradient(309deg, rgba(93,91,129,0.29735644257703087) 0%, rgba(29,123,196,0.8071603641456583) 28%, rgba(201, 122, 12, 0.597) 74%);
        top: 0;
        width: 100%;
        position: fixed;
    }
    
    nav ul {
        margin: 0;
        padding: 10;
        list-style: none;
        text-align: center;
    }
    
    nav ul li {
        display: inline-block;
        font-size: 25px;
    }
    
    nav ul li a {
        display: block;
        padding: 10px;
        color: rgb(16, 18, 15);
    }
    
    nav ul li a:hover {
        background-color: rgba(81, 104, 105, 0.176);
        zoom: 150%;
    }
  }

/* Large Devices */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    nav {
        background: rgb(93,91,129);
        background: linear-gradient(309deg, rgba(93,91,129,0.29735644257703087) 0%, rgba(29,123,196,0.8071603641456583) 28%, rgba(193, 20, 150, 0.597) 74%);
        top: 0;
        width: 100%;
        position: fixed;
    }
    
    nav ul {
        margin: 0;
        padding: 10;
        list-style: none;
        text-align: center;
    }
    
    nav ul li {
        display: inline-block;
        font-size: 30px;
    }
    
    nav ul li a {
        display: block;
        padding: 10px;
        color: rgb(16, 18, 15);
    }
    
    nav ul li a:hover {
        background-color: rgba(81, 104, 105, 0.176);
        zoom: 150%;
    }
  }

/* Extra Large Devices */
@media only screen and (min-width: 1201px) and (max-width: 3840px) {
    nav {
        background: rgb(93,91,129);
        background: linear-gradient(309deg, rgba(93,91,129,0.29735644257703087) 0%, rgba(29,123,196,0.8071603641456583) 28%, rgba(207, 18, 18, 0.597) 74%);
        top: 0;
        width: 100%;
        position: fixed;
    }
    
    nav ul {
        margin: 0;
        padding: 10;
        list-style: none;
        text-align: center;
    }
    
    nav ul li {
        display: inline-block;
        font-size: 35px;
    }
    
    nav ul li a {
        display: block;
        padding: 10px;
        color: rgb(16, 18, 15);
    }
    
    nav ul li a:hover {
        background-color: rgba(81, 104, 105, 0.176);
        zoom: 150%;
    }
  }